<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/maindex"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">{{ pageTitle }}</ion-title>
      <ion-thumbnail slot="end">
        <ion-icon class="logo-header"name="car-sport-outline"></ion-icon>
      </ion-thumbnail>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
    <ion-card>
        <img src="/assets/img/robin.jpeg" class="centric">
        <ion-card-content>
            hola soy Robin Flores estudiante de ingeniería informática en Duoc UC tengo 20 años
        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="/assets/img/cata.jpeg" class="centric">
        <ion-card-content>
            hola soy Catalina Sánchez estudiante de ingeniería informática en Duoc UC tengo 20 años
        </ion-card-content>
    </ion-card>
</ion-content>
